<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="logo">TechInsights</div>
      <ul class="nav-links">
        <li><a href="#" (click)="scrollToSection('home')">Home</a></li>
        <li><a href="#" (click)="scrollToSection('articles')">Articles</a></li>
        <li>
          <a href="#" (click)="scrollToSection('categories')">Categories</a>
        </li>
        <li><a href="#" (click)="scrollToSection('about')">About</a></li>
        <li><a href="#" routerLink="[/parallex]">parallex</a></li>
      </ul>
    </nav>
  </div>
</header>
