.container{
    background-color: aqua;
    min-height: 100vh;
}

.header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.backgroundImage{
    width: 100%;
    height: 140vh;
    position: absolute;
    filter: brightness(60%);
}

.backgroundImage img{
    object-fit: cover;
}

.intro{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 35vh;
}

.intro h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 7vw;
    z-index: 3;
    text-align: center;
    white-space: nowrap;
}

.introImage{
    filter: brightness(70%);
    width: 350px;
    height: 475px;
    position: absolute;
}

.introImage img{
    object-fit: cover;
    object-position: top;
}


.description p{
  position: relative;
  color: black;
  font-size: 3vw;
  text-transform: uppercase;
  margin-top: 0rem;
  margin-left: 10vw;
line-height: 1.2;
  padding-bottom: 0.5rem;
  height: fit-content;
}

.text-line {
  margin: 0px;
   margin-bottom: 0.5rem;
  position: relative;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
display: block;

  &:last-child {
    margin-bottom: 0;
  }
}

// .description {
//   position: relative;
//   z-index: 3; // Highest z-index for text
//   
//   background: rgba(0, 0, 0, 0.8); // Dark background for text readability
//   color: white;
//   font-size: clamp(1.5rem, 4vw, 3rem); // Responsive font size
//   text-transform: uppercase;
//    // Reduce line height for tighter spacing
// }