/* You can add global styles to this file, and also import other style files */
// Global reset
html, body {
  // height: 100%;
  margin: 0;
  padding: 0;
}

// // Remove default spacing
section {
  margin: 0;
  padding: 0;
}

// Ensure main takes full height
main {
  min-height: 100vh;
}